{% extends "pages/base.html" %}
{% from "macros/framed-problem.html" import framed %}

{% set text %}
# Box Model

MDN has a pretty good [intro to the box model](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Introduction_to_the_CSS_box_model).

This one should be self explanatory.

## Notes

* Read about [box-sizing](https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing), a CSS property that determines, well, exactly what you need.
* Notice that the margins "collapse" - when the box with `margin: 40px` is next to a box with `margin: 20px`, the two boxes render 20 pixels apart. This is because **margins don't add together** - they dictate the minimum space
the element needs to be spaced from other stuff. [MDN has more on this](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing).
{% endset %}

{% block content %}
  {{ framed("/buildcss/examples/boxmodel.html", text) }}
{% endblock content %}
