{% extends "pages/base.html" %}
{% from "macros/framed-problem.html" import framed %}

{% set text %}

# Floating and clearing

This isn't a Tetris board. Well, maybe it is. But it's also a demo
of how floats and clears behave.

## Notes

* Use [text-shadow](https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow) to help the numbers stand out against their backgrounds.
* Try making the `line-height` of the boxes the same as their height. You know how `line-heights` affect text in paragraphs, but its useful to think of them in relationship to other elements.
* The order of the boxes in important. If two boxes float right, the first one will be further right.
{% endset %}

{% block content %}
  {{ framed("/buildcss/examples/floating.html", text) }}
{% endblock content %}
