html, body {
    height: auto;
    min-height: 100%;
    line-height: 1.5;
}

body {
    font-family: 'Lato', helvetica, sans-serif;
    margin: 0;
    position: relative;
}

pre, code {
    font-family: 'Inconsolata', monospace;
    background: #eee;    
}

pre {
    padding: 5px 10px;
    max-width: 40rem;
    border-radius: 4px;
}

a, a:visited {
    color: navy;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 128, 0.33);
}

blockquote {
    margin: 0;
    border-left: 1px solid #000;
    padding: 0 10px;
    font-style: italic;
}

.sidebar h1 {
    font-size: 1rem;
    background: black;
    text-align: center;
    margin: 0;
    color: white;
    padding: 1rem 0;
    line-height: 1;
}

.iframe-wrapper {
    display: block;
    width: 600px;
    height: 400px;
    position: relative;
    border: 1px solid black;
    box-shadow: 0 4px 16px rgba(0,0,0,.25);
    margin: 40px 0 0 0;
}

.iframe-wrapper > * {
    position: absolute;
    width: 100%;
    height: 100%;
}

.iframe-wrapper a {
    z-index: 50;
}
.iframe-wrapper iframe {
    z-index: 10;
    border: 0;
}

.sidebar {
    width: 200px;
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    overflow: scroll;
    border-right: 1px solid #f5f5f5;
    padding: 0;
    list-style-type: none;
}

.sidebar footer {
    font-size: 0.75rem;
    margin: 1rem;
}

.problems {
    padding: 0 10px 0 30px;
}

.problems li {
    margin: 10px 0;
}

.problem {
    box-sizing: border-box;
    margin: 0 0 0 240px;
    padding: 0 0 40px 0;
}

.problem figcaption {
    max-width: 700px;
}

