<!DOCTYPE html>
<html>
<head>
    <title>Build Shit in CSS</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900,300|Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site_url }}app.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/default.min.css">

    {% if redirect %}
    <script type="text/javascript">
        // redirect querystrings to paths
        (function(){
            var slugs = [
                "display",
                "selectors",
                "boxmodel",
                "floating",
                "clearing-floats",
                "centering",
                "positioning",
                "vertical-centering",
                "zindex",
                "pseudoelements",
                "columns",
                "grids",
                "no-bootstrap",
                "baseline",
                "forms",
                "tables",
                "background-image",
                "transform",
                "other"
            ]
            var slug = window.location.search.split("?")[1];
            if (window.location.pathname === "/buildcss/" && (slugs.indexOf(slug) >= 0)) {
                window.location.href = window.location.origin + "/buildcss/" + slug + "/";
            }
        })();
    </script>
    {% endif %}
    
</head>
<body>

<div class="sidebar">
    <h1>Build Shit in CSS</h1>
    <ol class="problems">
        <li><a href="{{ site_url }}">Introduction</a></li>
        <li><a href="{{ site_url }}display/">Blocks, Inlines, and Display</a></li>
        <li><a href="{{ site_url }}selectors/">Selectors</a></li>
        <li><a href="{{ site_url }}boxmodel/">Box Model</a></li>
        <li><a href="{{ site_url }}floating/">Floating+Clearing I</a></li>
        <li><a href="{{ site_url }}clearing-floats/">Floating+Clearing II</a></li>
        <li><a href="{{ site_url }}centering/">Centering</a></li>
        <li><a href="{{ site_url }}positioning/">Positioning</a></li>
        <li><a href="{{ site_url }}vertical-centering/">Vertical Centering and Radius</a></li>
        <li><a href="{{ site_url }}zindex/">Z-Index</a></li>
        <li><a href="{{ site_url }}pseudoelements/">:before and :after</a></li>
        <li><a href="{{ site_url }}columns/">Columns</a></li>
        <li><a href="{{ site_url }}grids/">Image Grids</a></li>
        <li><a href="{{ site_url }}no-bootstrap/">Say No To Bootstrap</a></li>
        <li><a href="{{ site_url }}baseline/">The Baseline</a></li>
        <li><a href="{{ site_url }}forms/">Forms</a></li>
        <li><a href="{{ site_url }}tables/">Tables</a></li>
        <li><a href="{{ site_url }}background-image/">Background Image</a></li>
        <li><a href="{{ site_url }}transform/">More Transforms</a></li>
        <li><a href="{{ site_url }}other/">Other Resources I like</a></li>
    </ol>

    <footer>Created by <a href="http://whatisjasongoldstein.com">Jason Goldstein</a>. Help improve this! Bring your ideas to <a href="https://github.com/whatisjasongoldstein/buildcss/issues">Github</a>.</footer>
</div>

<figure class="problem" id="problem">
    <div class="iframe-wrapper">
        <a href="{{ iframe_src }}" target="_blank"></a>
        <iframe src="{{ iframe_src }}"></iframe>
    </div>
    <figcaption>
        {% filter markdown %}
        {% include text %}
        {% endfilter %}        
    </figcaption>
</figure>


<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
<script src="{{ site_url }}app.min.js"></script>

<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100908046); }catch(e){}</script>

</body>
</html>
